/* Reset completo inspirado en Tailwind's Preflight */

/* Eliminar márgenes, paddings y ajustar box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Ajustes en el documento */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Reset de estilos del body */
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: inherit;
  background-color: #fff;
  color: #1f2937; /* text-gray-800 */
}

/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Textos y enlaces */
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Listas */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Imágenes */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Botones */
button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  padding: 0;
}

/* Campos de formulario */
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Ajustes para tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ocultar elementos con hidden */
[hidden] {
  display: none;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

#header {
  position: fixed;
  top: 110vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-height: 100px;
  width: 70px;
  max-width: 1200px;
  padding: 10px 100px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 8;
  display: flex;
  box-shadow: 5px 5px 5px #50aae84d;
  transition: all 200ms;
}

#header > a {
  position: relative;
  width: 50px;
  height: 50px;
}

#header > a img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

nav {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 12;
  transition: all 300ms;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
}

nav ul li {
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 300ms;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.zoom {
  width: 100%;
  height: 130vh;
  position: relative;
  overflow: hidden;
  background: url(./img/bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  background-position: top;
  transition: all 0.3s ease-out;
}

.zoom::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 11;
  background: linear-gradient(transparent, #fff);
}

.zoom h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 110vh;
  width: 70vw;
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px 0 #fff8;
}

.zoom h1 span {
  text-shadow: 5px 5px 0 #50aae8;
}

.zoom .CTA {
  position: absolute;
  left: 0;
  right: 0;
  top: 120vh;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  z-index: 11;
  display: flex;
  gap: 20px;
}

.zoom #layer1 {
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  transition: all 200ms;
}

.zoom #layer2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 9;
  transition: all 200ms;
}

.content {
  padding: 100px;
}

.content h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 3em;
}

.content p {
  font-size: 1.1em;
  text-align: justify;
}

.menuRS {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 15;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuRS .toggle {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25),
    0 25px 20px rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuRS .toggle svg {
  position: absolute;
  opacity: 0;
  transition: 500ms;
  width: 40px;
  height: 40px;
  fill: #000;
}

.menuRS .toggle svg:nth-child(1) {
  opacity: 1;
  transform: rotate(360deg);
}

.menuRS.active .toggle svg:nth-child(1) {
  opacity: 0;
  transform: rotate(0deg);
}

.menuRS.active .toggle svg:nth-child(2) {
  opacity: 1;
  transform: rotate(360deg);
}

.menuRS li {
  position: absolute;
  left: 0;
  list-style: none;
  transform-origin: 100px;
  transition: 500ms;
  transform: rotate(calc(360deg / 4 * var(--i)));
  scale: 0;
  overflow: hidden;
  transition-delay: calc(0.05s * var(--i));
}

.menuRS.active li {
  scale: 1;
}

.menuRS.active li:hover {
  scale: 1.1;
}

.menuRS li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  /* background: var(--clr);
  fill: #fff; */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  fill: #000;
  border-radius: 50%;
  transform: rotate(calc(360deg / -4 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.menuRS li a svg {
  width: 40px;
  height: 40px;
}
/* ////////////////////////////////////////////////////////////////////////////////// */

/* Estilos para la sección de estadísticas */
.stats {
  background-color: #ffffff;
  padding: 2rem 0;
}

.stats__container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .stats__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stats__item {
  text-align: center;
}

.stats__item-title {
  font-size: 3rem;
  font-weight: bold;
}

.stats__item-description {
  color: #4b5563;
}

/* Estilos para la sección de soluciones */
.solutions {
  background-color: #50aae8;
  padding: 3rem 0;
}

.solutions__container {
  max-width: 1200px;
  margin: 0 auto;
}

.solutions__header {
  text-align: left;
  margin-bottom: 2rem;
  color: white;
}

.solutions__subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.solutions__title {
  font-size: 2.25rem;
  font-weight: bold;
}

.solutions__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .solutions__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.solutions__card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.solutions__icon {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.solutions__icon i {
  font-size: 1.875rem;
  color: #50aae8;
}

.solutions__card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.solutions__card-description {
  color: #4b5563;
  margin-bottom: 1rem;
}

.solutions__link {
  color: #50aae8;
  font-weight: bold;
  text-decoration: none;
}

.solutions__link:hover {
  text-decoration: underline;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* Estilos generales de la sección */
.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Título de la sección */
.section__title {
  font-size: 1.875rem; /* text-3xl */
  font-weight: bold;
  color: #1f2937; /* text-gray-800 */
  margin-bottom: 2rem;
  width: 30ch;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 3rem; /* md:text-5xl */
    width: 35ch;
  }
}

/* Botón de contacto */
.section__button {
  background-color: #50aae8;
  color: #ffffff; /* text-white */
  padding: 0.5rem 1.5rem;
  border-radius: 9999px; /* rounded-full */
  font-size: 1.125rem; /* text-lg */
  margin-bottom: 3rem;
  border: none;
  cursor: pointer;
}

/* Galería de imágenes */
.section__gallery {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
}

.gallery__wrapper {
  display: inline-flex;
  gap: 1rem; /* space-x-4 */
  animation: scroll 20s linear infinite; /* Ajusta la duración según prefieras */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Imágenes dentro de la galería */
.gallery__image {
  width: 12rem; /* w-48 */
  height: 16rem; /* h-64 */
  object-fit: cover; /* object-cover */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
}
